# exclude keys
.gnupg/*
.ssh/*
.pki/*

# ignore gtk config managed by lxappearance
.gtkrc-2.0

# sesion data
.bash_history
.xsession*
.zcompdump*
.python_history
.zsh_history
.zsh-update
.ICAClient/*
.esd_auth
.lesshst
.viminfo
.Xauthority
.Xclients

# application data
.local/share/
.moc/*
.antigen/*
.dropbox*
.factorio/*
.gimp*
.screenlayout/*
.steam/*
.steam*
.thunderbird/*
.gnome/*
.cache/*
.atom/*
.fehbg/*
.macromedia/*
.mozilla/*
.thumbnails/*
