#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! Global X config
Xft.dpi: 160
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! Xterm config
XTerm*pointerColor: #16A085
XTerm*faceSize: 11

! URxvt config
!URxvt.font: xft:DejaVuSansMono:size=18
!URxvt.font: xft:DejaVui\ Sans\ Mono\ for\ Powerline:size=16
!URxvt.font: xft:DroidSansMonoforPowerline:size=16
!URxvt.font: xft:Terminus:size=18
URxvt*font: xft:Terminus:pixelsize=28,xft:Terminess Powerline:pixelsize=28
!URxvt*font: xft:Terminus:pixelsize=28,xft:PowerlineSymbols:pixelsize=28
!URxvt.font: xft:Consolas:size=13, xft:Inconsolata for Powerline
URxvt.depth: 32
URxvt.background: [80]#000000
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     black
URxvt*foreground:                     white                                                                          
URxvt*saveLines:                      5000

!URxvt.perl-ext-common: fullscreen,tabbedex:w


! ROFI Color theme
rofi.color-enabled:                  true
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
rofi.color-window:                   #ffffff,#f5f5f5
!rofi.separator-style:                solid
rofi.separator-style:                none
rofi.hide-scrollbar:                 true
rofi.modi:                           run,ssh,window
rofi.lines:                          5
rofi.columns:                        1
rofi.eh:                             2
rofi.fullscreen:                     true
rofi.width:                          10
rofi.height:                         30
rofi.padding:                        400
rofi.opacity:                        85
rofi.bw:                             0
!rofi.sidebar-mode:                   true
!rofi.auto-select:                    true
